body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: darkolivegreen;
}

#dudas{
  background-color:rgb(62, 175, 17);
}

#mision{
  background-color:rgb(98, 93, 163);
}
.navbar {
  background-color: #1d2018;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 100px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 100px;
  margin-right: 15px;
}

.logo-container span {
  color: rgb(91, 161, 59);
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      padding: 12px 18px;
    }

.nav-links a:hover {
      background-color: #575757;
      border-radius: 5px;
    }
.texto{
  font-size: 30px;
}
#titulo{
  justify-content: center;

}

